<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bb843514547bb575402abf65948ef519 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_bb843514547bb575402abf65948ef519" ></div>
        
</body>
<script>
    
    
            var map_bb843514547bb575402abf65948ef519 = L.map(
                "map_bb843514547bb575402abf65948ef519",
                {
                    center: [51.47, -0.45],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_4b3fb83d50a2ee354cdd63fcc4c35507 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_4b3fb83d50a2ee354cdd63fcc4c35507.addTo(map_bb843514547bb575402abf65948ef519);
        
    
            var marker_c1dd599184acaa49ff5fc9ae2165499e = L.marker(
                [51.47, -0.45],
                {
}
            ).addTo(map_bb843514547bb575402abf65948ef519);
        
    
            var icon_afb134cc1e481b2d83675dc11e04dd1a = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f6e2fbb5dea06e35b308a41748ef617c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_48a887b14230380952c69bb4f1d68fd8 = $(`<div id="html_48a887b14230380952c69bb4f1d68fd8" style="width: 100.0%; height: 100.0%;"><b>SWR5QD</b><br>Altitude: N/A m<br>Speed: 0.06 m/s<br>Status: GROUNDED</div>`)[0];
                popup_f6e2fbb5dea06e35b308a41748ef617c.setContent(html_48a887b14230380952c69bb4f1d68fd8);
            
        

        marker_c1dd599184acaa49ff5fc9ae2165499e.bindPopup(popup_f6e2fbb5dea06e35b308a41748ef617c)
        ;

        
    
    
                marker_c1dd599184acaa49ff5fc9ae2165499e.setIcon(icon_afb134cc1e481b2d83675dc11e04dd1a);
            
    
            var marker_a4c79894cf01791cb791567624ea7ee8 = L.marker(
                [51.55, -0.26],
                {
}
            ).addTo(map_bb843514547bb575402abf65948ef519);
        
    
            var icon_d0e2060dcdb7c9a878b655eaa3ffc5de = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_afb7aca2d7afae2a95a10550d14d2a60 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bd96f0bee00baaeed83c622ab2772f84 = $(`<div id="html_bd96f0bee00baaeed83c622ab2772f84" style="width: 100.0%; height: 100.0%;"><b>EZY57HF</b><br>Altitude: 4991.1 m<br>Speed: 184.31 m/s<br>Status: IN_FLIGHT</div>`)[0];
                popup_afb7aca2d7afae2a95a10550d14d2a60.setContent(html_bd96f0bee00baaeed83c622ab2772f84);
            
        

        marker_a4c79894cf01791cb791567624ea7ee8.bindPopup(popup_afb7aca2d7afae2a95a10550d14d2a60)
        ;

        
    
    
                marker_a4c79894cf01791cb791567624ea7ee8.setIcon(icon_d0e2060dcdb7c9a878b655eaa3ffc5de);
            
    
            var marker_21919d86dcdc3902d5d29b8497a57c00 = L.marker(
                [51.48, -0.54],
                {
}
            ).addTo(map_bb843514547bb575402abf65948ef519);
        
    
            var icon_fc4339f7360c8b5455ff868cf0b56bf0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_acad3c5012c1d10569faf48132491a1e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_beaf6e7b11b1a6f0f58d80c025afc4aa = $(`<div id="html_beaf6e7b11b1a6f0f58d80c025afc4aa" style="width: 100.0%; height: 100.0%;"><b>BAW252N</b><br>Altitude: 137.16 m<br>Speed: 68.94 m/s<br>Status: LANDING</div>`)[0];
                popup_acad3c5012c1d10569faf48132491a1e.setContent(html_beaf6e7b11b1a6f0f58d80c025afc4aa);
            
        

        marker_21919d86dcdc3902d5d29b8497a57c00.bindPopup(popup_acad3c5012c1d10569faf48132491a1e)
        ;

        
    
    
                marker_21919d86dcdc3902d5d29b8497a57c00.setIcon(icon_fc4339f7360c8b5455ff868cf0b56bf0);
            
    
            var marker_bc5ff8c498e14356e4046e4dd6f472c5 = L.marker(
                [51.48, -0.5],
                {
}
            ).addTo(map_bb843514547bb575402abf65948ef519);
        
    
            var icon_54f668ba66e41a3a10352ad8e5edafa6 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d7bd75f82180c5984c3f2fef8d776e58 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_59a76dc8c308c4ed355ca93e5fc35dfa = $(`<div id="html_59a76dc8c308c4ed355ca93e5fc35dfa" style="width: 100.0%; height: 100.0%;"><b>UAL924</b><br>Altitude: -30.48 m<br>Speed: 67.91 m/s<br>Status: LANDING</div>`)[0];
                popup_d7bd75f82180c5984c3f2fef8d776e58.setContent(html_59a76dc8c308c4ed355ca93e5fc35dfa);
            
        

        marker_bc5ff8c498e14356e4046e4dd6f472c5.bindPopup(popup_d7bd75f82180c5984c3f2fef8d776e58)
        ;

        
    
    
                marker_bc5ff8c498e14356e4046e4dd6f472c5.setIcon(icon_54f668ba66e41a3a10352ad8e5edafa6);
            
</script>
</html>