<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6b618fe42733e7903d6fca7a3f067f1b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6b618fe42733e7903d6fca7a3f067f1b" ></div>
        
</body>
<script>
    
    
            var map_6b618fe42733e7903d6fca7a3f067f1b = L.map(
                "map_6b618fe42733e7903d6fca7a3f067f1b",
                {
                    center: [51.47, -0.45],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_92df35173841a807239b0012185532d3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_92df35173841a807239b0012185532d3.addTo(map_6b618fe42733e7903d6fca7a3f067f1b);
        
    
            var marker_5da355a0555b748efd15786d6a3bf99d = L.marker(
                [51.47, -0.45],
                {
}
            ).addTo(map_6b618fe42733e7903d6fca7a3f067f1b);
        
    
            var icon_fcff125b49c180f9c77f76ddcf0fabe0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_646b75767e1abc82752a5fc676bc95b3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_720836acee77d33c37eee93fecf84133 = $(`<div id="html_720836acee77d33c37eee93fecf84133" style="width: 100.0%; height: 100.0%;"><b>SWR5QD</b><br>Altitude: N/A m<br>Speed: 0.06 m/s<br>Status: GROUNDED</div>`)[0];
                popup_646b75767e1abc82752a5fc676bc95b3.setContent(html_720836acee77d33c37eee93fecf84133);
            
        

        marker_5da355a0555b748efd15786d6a3bf99d.bindPopup(popup_646b75767e1abc82752a5fc676bc95b3)
        ;

        
    
    
                marker_5da355a0555b748efd15786d6a3bf99d.setIcon(icon_fcff125b49c180f9c77f76ddcf0fabe0);
            
    
            var marker_3ebc2aeccc87ee7843b7e594bfb394a0 = L.marker(
                [51.55, -0.26],
                {
}
            ).addTo(map_6b618fe42733e7903d6fca7a3f067f1b);
        
    
            var icon_14d6b601e95fb2af2049836847914c1e = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_9fff2f89c2564f59a7ac485c15cd5e5b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0d8e886820c1e878d9368d7a44e9fec5 = $(`<div id="html_0d8e886820c1e878d9368d7a44e9fec5" style="width: 100.0%; height: 100.0%;"><b>EZY57HF</b><br>Altitude: 4991.1 m<br>Speed: 184.31 m/s<br>Status: IN_FLIGHT</div>`)[0];
                popup_9fff2f89c2564f59a7ac485c15cd5e5b.setContent(html_0d8e886820c1e878d9368d7a44e9fec5);
            
        

        marker_3ebc2aeccc87ee7843b7e594bfb394a0.bindPopup(popup_9fff2f89c2564f59a7ac485c15cd5e5b)
        ;

        
    
    
                marker_3ebc2aeccc87ee7843b7e594bfb394a0.setIcon(icon_14d6b601e95fb2af2049836847914c1e);
            
    
            var marker_6dfe5761a3c4e4d0c711f858887664c1 = L.marker(
                [51.48, -0.54],
                {
}
            ).addTo(map_6b618fe42733e7903d6fca7a3f067f1b);
        
    
            var icon_a2c3e348296b7dc9bdb307a470b98c1d = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_9a9b39a8e156c1cb12e9780627c37914 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cf59f47d21b0a9e996af39b422c5a00c = $(`<div id="html_cf59f47d21b0a9e996af39b422c5a00c" style="width: 100.0%; height: 100.0%;"><b>BAW252N</b><br>Altitude: 137.16 m<br>Speed: 68.94 m/s<br>Status: LANDING</div>`)[0];
                popup_9a9b39a8e156c1cb12e9780627c37914.setContent(html_cf59f47d21b0a9e996af39b422c5a00c);
            
        

        marker_6dfe5761a3c4e4d0c711f858887664c1.bindPopup(popup_9a9b39a8e156c1cb12e9780627c37914)
        ;

        
    
    
                marker_6dfe5761a3c4e4d0c711f858887664c1.setIcon(icon_a2c3e348296b7dc9bdb307a470b98c1d);
            
    
            var marker_806d4626a3f40b887cc3d66b52eb800e = L.marker(
                [51.48, -0.5],
                {
}
            ).addTo(map_6b618fe42733e7903d6fca7a3f067f1b);
        
    
            var icon_78ad123634d2781779f88b6387869098 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ee4c07d0568cd2e435943ebcbabbcc57 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b197e46d37ffb503f107f29f9c9157f5 = $(`<div id="html_b197e46d37ffb503f107f29f9c9157f5" style="width: 100.0%; height: 100.0%;"><b>UAL924</b><br>Altitude: -30.48 m<br>Speed: 67.91 m/s<br>Status: LANDING</div>`)[0];
                popup_ee4c07d0568cd2e435943ebcbabbcc57.setContent(html_b197e46d37ffb503f107f29f9c9157f5);
            
        

        marker_806d4626a3f40b887cc3d66b52eb800e.bindPopup(popup_ee4c07d0568cd2e435943ebcbabbcc57)
        ;

        
    
    
                marker_806d4626a3f40b887cc3d66b52eb800e.setIcon(icon_78ad123634d2781779f88b6387869098);
            
</script>
</html>