<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_eeba235b62c045923b3be5a72d137f3f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_eeba235b62c045923b3be5a72d137f3f" ></div>
        
</body>
<script>
    
    
            var map_eeba235b62c045923b3be5a72d137f3f = L.map(
                "map_eeba235b62c045923b3be5a72d137f3f",
                {
                    center: [51.47, -0.45],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_f92fc2e17844e8187cf91f9c89181d46 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_f92fc2e17844e8187cf91f9c89181d46.addTo(map_eeba235b62c045923b3be5a72d137f3f);
        
    
            var marker_85d61092092cc8fa8ea8c58625184316 = L.marker(
                [51.47, -0.45],
                {
}
            ).addTo(map_eeba235b62c045923b3be5a72d137f3f);
        
    
            var icon_a3bd1bbf27e0e0e959c588a607160d80 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4374aee566a29c095a1a89d6914ace05 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3d66db8e8c39e7704662e33824e6514e = $(`<div id="html_3d66db8e8c39e7704662e33824e6514e" style="width: 100.0%; height: 100.0%;"><b>SWR5QD</b><br>Altitude: N/A m<br>Speed: 0.06 m/s<br>Status: GROUNDED</div>`)[0];
                popup_4374aee566a29c095a1a89d6914ace05.setContent(html_3d66db8e8c39e7704662e33824e6514e);
            
        

        marker_85d61092092cc8fa8ea8c58625184316.bindPopup(popup_4374aee566a29c095a1a89d6914ace05)
        ;

        
    
    
                marker_85d61092092cc8fa8ea8c58625184316.setIcon(icon_a3bd1bbf27e0e0e959c588a607160d80);
            
    
            var marker_020b25d46f029c580ca6a6749c5d3f3e = L.marker(
                [51.55, -0.26],
                {
}
            ).addTo(map_eeba235b62c045923b3be5a72d137f3f);
        
    
            var icon_c08f430afd5b7fa841fb0fd86d25e7a1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2093d5867574fcabf1e81e5c67d5dc1f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8985d25a42dc1843f70a1fb1648b7446 = $(`<div id="html_8985d25a42dc1843f70a1fb1648b7446" style="width: 100.0%; height: 100.0%;"><b>EZY57HF</b><br>Altitude: 4991.1 m<br>Speed: 184.31 m/s<br>Status: IN_FLIGHT</div>`)[0];
                popup_2093d5867574fcabf1e81e5c67d5dc1f.setContent(html_8985d25a42dc1843f70a1fb1648b7446);
            
        

        marker_020b25d46f029c580ca6a6749c5d3f3e.bindPopup(popup_2093d5867574fcabf1e81e5c67d5dc1f)
        ;

        
    
    
                marker_020b25d46f029c580ca6a6749c5d3f3e.setIcon(icon_c08f430afd5b7fa841fb0fd86d25e7a1);
            
    
            var marker_c5481e9179e72d22a15d112571cf7a38 = L.marker(
                [51.48, -0.54],
                {
}
            ).addTo(map_eeba235b62c045923b3be5a72d137f3f);
        
    
            var icon_88995a10deae0550819805e9d308cce8 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d4b5ff034facfe62739de502e67b3e6a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_26b4703aa79ec1610b99489eb2beee56 = $(`<div id="html_26b4703aa79ec1610b99489eb2beee56" style="width: 100.0%; height: 100.0%;"><b>BAW252N</b><br>Altitude: 137.16 m<br>Speed: 68.94 m/s<br>Status: LANDING</div>`)[0];
                popup_d4b5ff034facfe62739de502e67b3e6a.setContent(html_26b4703aa79ec1610b99489eb2beee56);
            
        

        marker_c5481e9179e72d22a15d112571cf7a38.bindPopup(popup_d4b5ff034facfe62739de502e67b3e6a)
        ;

        
    
    
                marker_c5481e9179e72d22a15d112571cf7a38.setIcon(icon_88995a10deae0550819805e9d308cce8);
            
    
            var marker_543b428fed304ead8ec5ca62f1019e76 = L.marker(
                [51.48, -0.5],
                {
}
            ).addTo(map_eeba235b62c045923b3be5a72d137f3f);
        
    
            var icon_ca6b72a60d1c137c7f5b38a5760c28f0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f63292ffef141ba0b720b20732b871ee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b543c4ab9fd0960216e33974595c0740 = $(`<div id="html_b543c4ab9fd0960216e33974595c0740" style="width: 100.0%; height: 100.0%;"><b>UAL924</b><br>Altitude: -30.48 m<br>Speed: 67.91 m/s<br>Status: LANDING</div>`)[0];
                popup_f63292ffef141ba0b720b20732b871ee.setContent(html_b543c4ab9fd0960216e33974595c0740);
            
        

        marker_543b428fed304ead8ec5ca62f1019e76.bindPopup(popup_f63292ffef141ba0b720b20732b871ee)
        ;

        
    
    
                marker_543b428fed304ead8ec5ca62f1019e76.setIcon(icon_ca6b72a60d1c137c7f5b38a5760c28f0);
            
</script>
</html>